<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImposterGame.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FF90919D6B3D37C7E9E09E9DC6DD602C8C1986EA</string>
				<key>dateExpires</key>
				<string>31/12/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF90919D6B3D37C7E9E09E9DC6DD602C8C1986EA</string>
						<key>dateExpires</key>
						<string>31/12/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z83Y9VJTKH</string>
						<key>name</key>
						<string>Ilan Usman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF90919D6B3D37C7E9E09E9DC6DD602C8C1986EA</string>
						<key>dateExpires</key>
						<string>31/12/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z83Y9VJTKH</string>
						<key>name</key>
						<string>Ilan Usman</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF90919D6B3D37C7E9E09E9DC6DD602C8C1986EA</string>
						<key>dateExpires</key>
						<string>31/12/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z83Y9VJTKH</string>
						<key>name</key>
						<string>Ilan Usman</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z83Y9VJTKH.com.rayn100.impostergame</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>Z83Y9VJTKH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ImposterGame.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a484b395-7ed3-44ed-aa27-3f4a3cb21974</string>
				<key>dateExpires</key>
				<string>31/12/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.rayn100.impostergame</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z83Y9VJTKH</string>
				<key>name</key>
				<string>Ilan Usman</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
